<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camo.kripto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Kripto"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.presentation.global.GlobalActivity" />
        <activity android:name="com.camo.kripto.ui.presentation.about.AboutActivity" />
        <activity android:name=".ui.presentation.settings.SettingsActivity" />
        <activity android:name="com.camo.kripto.ui.presentation.coin.CoinActivity" />
        <activity
            android:name="com.camo.kripto.ui.presentation.home.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>